.profile {
    display: flex;
    flex-direction: column;

    height: 100%;
    padding-top: 30px;
    overflow-y: auto;
}

.profile-top {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 9px;
}

.profile-top-settings {
    position: absolute;
    right: 0px;
    top: 0px;
}

.profile-top-gacha {
    position: absolute;
    left: 30px;
    top: 30px;
}

.profile-top-get-data {
    position: absolute;
    left: 30px;
    top: 60px;
}

.profile-image {
    height: 100px;
    width: 100px;
    border-radius: 100px;
}

.profile-name {
    font-size: 24px;
    font-weight: 400;
}

.profile-body {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    
    padding-top: 19px;
    padding-bottom: 190px;
}

.profile-body-vip {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 35px;
    padding: 7.5px 10px;

    background-color: #2B2B2B;
    border-radius: 10px;
}

.profile-body-vip-text {
    font-size: 16px;
    font-weight: 400;
    color: #A1A1AA;
}

.profile-body-vip-status {
    font-family: "Roboto";
    font-size: 16px;
    color: #2D83EC;
}

.profile-body-money {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4px;
    text-align: center;
}

.profile-body-money-text {
    font-size: 32px;
    font-family: "Roboto";
    
    position: relative;
    grid-column: span 2;

    padding: 13px 0px;

    background-color: #2B2B2B;
    border-radius: 20px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.profile-body-money-text.null {
    color: #A1A1AA;
}

.profile-body-money-text::after {
    position: absolute;
    content: "";

    top: 50%;
    right: 29px;
    width: 12px;
    height: 17px;

    transform: translateY(-50%) !important;

    background-image: url("/src/shared/assets/svg/profile_arrows_money.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

.profile-body-money-text-container {
    border: none;
    border-top: solid 4px #1c1c1c;
    background-color: #2B2B2B;
    border-radius: 20px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    padding-left: 0px;
    padding-right: 0px;
}
.profile-body-money-text-container > * + * {
    border-top: solid 4px #1c1c1c;
    padding-top: 6px;
}

.profile-body-money-add {
    font-size: 16px;

    padding: 14px 0px;

    /* background-color: #2D83EC; */
    background: linear-gradient(90deg, #2D83EC, #1AC9FF);
    border-bottom-left-radius: 20px;
}

.profile-body-money-remove {
    font-size: 16px;

    padding: 14px 0px;

    background-color: #2B2B2B;
    border-bottom-right-radius: 20px;
}

.profile-body-money-remove.active {
    background: linear-gradient(-90deg, #2D83EC, #1AC9FF);
    /* background-color: #2D83EC; */
}

.profile-body-info {
    display: flex;
    justify-content: space-between;
}

.profile-body-info-elem {
    font-size: 18px;
    color: #A1A1AA;
    font-weight: 400;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 11px;

    height: 100px;
    width: 100px;

    background-color: #2B2B2B;
    border-radius: 20px;
}

.profile-body-gacha-dark-overlay {
    position: absolute;
    z-index: 1;

    visibility: hidden;

    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;

    background-color: #000;
    opacity: 0;

    transition: opacity 1s;
}
.profile-body-gacha-dark-overlay.active {
    visibility: visible;
    opacity: .7;
}

.profile-body-gacha-wrapper {
    display: flex;
    flex-direction: column;

    position: fixed;

    width: 160px;
    height: 160px;
    
    bottom: 180px;
    left: 50%;

    transform: translate(-50%, 50%);
    border-radius: 160px;
    transition: all 1s;
}
.profile-body-gacha-wrapper.spin {
    z-index: 2;
    height: 80%;
    width: 80%;
    bottom: calc(50% + 50px);
}

.profile-body-gacha-image-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.profile-body-gacha-arrow {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    top: -9px;
    left: 50%;

    transform: translateX(-50%);
}

.profile-body-gacha-image {
    width: 100%;
    height: 100%;
}
.profile-body-gacha-image.spin {
    animation: spin 1s linear infinite;
}
@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}
@keyframes spin_end_0 {
    100% {
        transform: rotate(360deg);
    }   
}
@keyframes spin_end_270 {
    100% {
        transform: rotate(450deg);
    }
}
@keyframes spin_end_180 {
    100% {
        transform: rotate(180deg);
    }
}
@keyframes spin_end_90 {
    100% {
        transform: rotate(270deg);
    }
}
@keyframes spin_end_smth {
    100% {
        transform: rotate(225deg);
    }
}

.profile-body-gacha-button {
    position: fixed;

    font-size: 28px;
    font-family: "Roboto";

    padding: 17px 51px;

    bottom: 100px;
    left: 50%;

    transform: translateX(-50%);

    background-color: #2D83EC;
    border-radius: 16px;
}

.profile-settings {
    display: flex;
    flex-direction: column;
    row-gap: 26px;
}

.profile-settings-backButton {
    top: 30px;
}

.profile-settings-block {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.profile-settings-header {
    font-size: 24px;
}

.profile-settings-group {
    font-size: 14px;
    font-weight: 400;
    
    display: flex;
    flex-direction: column;
    row-gap: 15px;

    padding: 10px;

    background-color: #2B2B2B;
    border-radius: 16px;
}
.profile-settings-group.referral {
    margin-bottom: 30px;
}

.profile-settings-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-settings-key.non-active {
    color: #8E8E99;
}

.profile-settings-value {
    font-family: "Roboto";
    color: #2D83EC;
}
.profile-settings-value.non-active {
    color: #8E8E99;
    font-weight: 300;
}

.profile-settings-checkbox {
    appearance: none;
    position: relative;
}

.profile-settings-checkbox::before {
    position: absolute;
    content: "";

    width: 30px;
    height: 16px;
    right: 0px;
    top: 50%;

    transform: translateY(-50%);

    background-color: #A1A1AA;
    border-radius: 20px;
}
.profile-settings-checkbox:checked:before {
    background-color: #2D83EC;
}

.profile-settings-checkbox::after {
    position: absolute;
    content: "";

    width: 12px;
    height: 12px;
    top: 50%;
    right: 16px;

    transform: translateY(-50%);

    background-color: #2B2B2B;
    border-radius: 20px;

    transition: right .2s;
}
.profile-settings-checkbox:checked:after {
    right: 2px;
}

.profile-settings-rules {
    font-size: 16px;
    color: #2D83EC;
}

.profile-settings-copy {
    display: flex;
}
.profile-settings-copy-img {
    width: 25px;
}

.profile-settings-referral-list {
    display: flex;
    flex-direction: column;
    row-gap: 10px;

    padding: 10px;

    background-color: #1c1c1c;
    border-radius: 6px;
}

.profile-settings-referral-elem {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-settings-referral-elem-profile {
    display: flex;
    /* flex-direction: column; */
    /* row-gap: 4px; */
    align-items: center;
    column-gap: 6px;
}

.profile-settings-referral-elem-image {
    width: 40px;
    border-radius: 100px;
}

.profile-settings-referral-elem-username {
    font-size: 14px;
}

.profile-settings-referral-elem-stat {
    font-size: 16px;
}


.profile-vipDialog-overlay {
    position: fixed;
    z-index: 1;

    visibility: hidden;

    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;

    background-color: #000;
    opacity: 0;

    transition: opacity .5s;
}
.profile-vipDialog-overlay.active {
    visibility: visible;
    opacity: .7;
}

.vipDialog {
    position: fixed;
    z-index: 2;

    visibility: hidden;

    left: 50%;
    top: 50%;
    width: 80%;

    transform: translate(-50%, -50%);

    opacity: 0;
    transition: opacity .5s;

    display: flex;
    flex-direction: column;
    row-gap: 4px;
}
.vipDialog.active {
    visibility: visible;
    opacity: 1;
}

.vipDialog-main {
    display: flex;
    flex-direction: column;
    row-gap: 10px;

    padding: 5px 20px 20px 20px;

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    background-color: #2B2B2B;
}

.vipDialog-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.vipDialog-top-header {
    font-size: 16px;
    font-weight: 300;
}

.vipDialog-close {
    display: flex;
    align-self: flex-end;

    margin-right: -15px;

    height: fit-content;
    width: fit-content;
    padding: 0px;

    background-color: transparent;
}

.vipDialog-status {
    font-size: 32px;
    font-weight: 700;
    font-family: "Roboto";

    align-self: center;
    margin-bottom: 10px;

    background-color: transparent;

    background: linear-gradient(-90deg, #2D83EC, #1AC9FF);
    color: transparent;
    background-clip: text;
}

.vipDialog-body {
    display: flex;
    flex-direction: column;
    row-gap: 6px;
}

.vipDialog-body-header {
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 600;
}

.vipDialog-body-list {
    list-style-position: inside;

    font-family: "Roboto";
    font-size: 16px;
    font-weight: 300;
}

.vipDialog-body-cost-container {
    display: flex;
    align-items: center;
}

.vipDialog-button {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.vipDialog-body-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;
}