.preview-ad {
    display: flex;
    flex-direction: column;
    
    padding-top: 45px;
    overflow-y: auto;
}

.preview-ad-header {
    font-size: 20px;
    font-weight: 600;

    padding-bottom: 10px;
}

.preview-ad-groups {
    display: flex;
    flex-direction: column;
    row-gap: 12px;

    padding-bottom: 24px;
}

.preview-ad-info {
    display: flex;
    flex-direction: column;
    row-gap: 18px;

    padding: 20px;
    
    background-color: #2B2B2B;
    border-radius: 20px;
}

.preview-ad-info-elem {
    font-size: 10px;
    font-weight: 600;

    display: flex;
    column-gap: 20px;
}

.preview-ad-info-key {
    font-weight: 700;
    color: #A1A1AA;
}

.preview-ad-warning {
    display: flex;
    flex-direction: column;
    row-gap: 5px;

    padding: 14px;

    background-color: #2B2B2B;
    border-radius: 20px;
}

.preview-ad-warning-header {
    font-size: 12px;
    font-weight: 800;
    color: #D32C2C;
}

.preview-ad-warning-list {
    font-size: 11px;
    line-height: 133%;
    color: #A1A1AA;

    list-style-position: inside;
}