.chats {
    display: flex;
    flex-direction: column;
    row-gap: 24px;

    height: 100%;
    padding-top: 35px;
    overflow-y: auto;
}

.chats-pinned {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    position: relative;

    padding: 13px 0px;

    background-color: #2B2B2B;
    border-radius: 37px;
}

.chats-pinned::after {
    position: absolute;
    content: "";

    right: 13px;
    top: 24px;
    width: 11px;
    height: 13px;

    background-image: url("/src/shared/assets/svg/pin.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

.chats-chat {
    display: flex;
    column-gap: 10px;

    margin: 0px 13px;
}

.chats-chat-image {
    width: 60px;
    height: 60px;

    border-radius: 100px;
}

.chats-chat-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 8px;
}

.chats-chat-info-username {
    font-size: 17px;
    position: relative;

    width: fit-content;
}

.chats-chat-info-username.something::after {
    position: absolute;
    content: "";

    right: -21px;
    top: 50%;
    width: 15px;
    height: 15px;

    transform: translateY(-50%);

    background-image: url("/src/shared/assets/svg/chat_something.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

.chats-chat-info-username.vip::after {
    position: absolute;
    content: "";

    right: -25px;
    top: 50%;
    width: 18px;
    height: 18px;

    transform: translateY(-50%);

    background-image: url("/src/shared/assets/svg/vip_icon.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

.chats-chat-info-last-message {
    font-size: 13px;
    font-weight: 400;
    font-family: "Roboto";

    color: #A1A1AA;
}

.chats-message-lonely {
    padding: 0px 30px;
    margin: auto auto;
    text-align: center;
}