.add-ad {
    display: flex;
    flex-direction: column;
    padding-top: 35px;
    overflow-y: auto;
}

.add-ad-header {
    font-size: 20px;
    font-weight: 600;

    margin-bottom: 14px;
}

.add-ad-form {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.add-ad-form-content {
    display: flex;
    flex-direction: column;
    /* row-gap: 20px; */

    padding: 20px 0px 20px 30px;

    background-color: #2B2B2B;
    border-radius: 16px;
}

.add-ad-form-row {
    display: flex;
    flex-direction: column;
    row-gap: 10px;

    padding: 15px 20px 15px 0px;
}
.add-ad-form-row + .add-ad-form-row {
    border-top: solid 1px #A1A1AA;
}

.add-ad-form-row-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    column-gap: 10px;
}

.add-ad-form-row-info {
    font-size: 14px;
    color: #A1A1AA;
}

.add-ad-form-row-key {
    font-size: 16px;
    font-weight: 600;
    /* color: #A1A1AA; */
}

.add-ad-TextField {
    width: 140px;
}
.add-ad-TextField::placeholder {
    text-align: center;
}

.add-ad-form-source {
    display: flex;
    column-gap: 5px;
}

.add-ad-form-source-button {
    font-size: 9px;
    padding: 5px;
    width: 60px;

    overflow-x: hidden;
    transition: width .5s, opacity .5s, margin-right .5s, padding .5s;
}
.add-ad-form-source-button.hidden {
    width: 0px;
    opacity: 0;
    margin-right: -5px;
    padding: 0px;
}

/* .add-ad-form-amountType {
    display: flex;
    flex-direction: column;
    row-gap: 6px;
}

.add-ad-form-amountType-radioGroup {
    column-gap: 10px;
    background-color: transparent;
}
.add-ad-form-amountType-radioGroup > * {
    flex-grow: 1;
    text-align: center;
} */

.add-ad-form-amount {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 5px;
    width: 140px;
}

.add-ad-form-amount-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;
}

.add-ad-form-amount-TextField {
    width: 100px;
}

.add-ad-form-sum {
    display: flex;
    justify-content: end;
    column-gap: 10px;
}

.add-ad-form-sum-TextField {
    width: 120px;
}