.form-button {
    font-size: 20px;
    font-weight: 600;

    padding: 16px 0px;

    background-color: #2D83EC;
    border-radius: 20px;
}
.form-button.disabled {
    background-color: #2B2B2B;
}

.form-radioGroup {
    display: flex;
    background-color: #4A4A4A;
    border-radius: 8px;
}

.form-radioButton-label {
    font-size: 9px;
    font-weight: 600;
    
    padding: 10px;

    border-radius: 8px;
    background-color: #4A4A4A;
}
.form-radioButton-label.active {
    background-color: #2D83EC;
}

.form-radioButton {
    appearance: none;
}

.form-textField {
    font-size: 13px;
    font-weight: 600;

    padding: 5px 7px;
    width: 140px;

    background-color: #4A4A4A;

    border-radius: 5px;
    border: solid 1px #4F4F4F;
}

.form-textField[type=number] {
    appearance: undefined;
    -moz-appearance: textfield;
}
.form-textField::-webkit-outer-spin-button,
.form-textField::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.form-select {
    font-size: 13px;
    font-weight: 600;
    background-color: #2B2B2B;

    /* padding-right: 20px;
    position: relative; */
}
/* .form-select::after {
    position: absolute;
    content: "";

    width: 14px;
    height: 18px;
    right: 3px;
    top: 50%;

    transform: translateY(-50%);

    background-image: url("/src/assets/svg/filter_arrow.svg");
    background-repeat: no-repeat;
    background-size: contain;
} */