.filters {
    padding-top: 16px;
    margin-bottom: 14px;
}

.filters-list {
    display: flex;
    column-gap: 10px;
    justify-content: space-between;
}

.filter {
    display: flex;
    justify-content: space-between;
    align-items: center;

    flex-grow: 1;
    width: 25%;
    padding: 6px;
    
    background-color: #2B2B2B;
    border-radius: 8px;
}

.filter-text {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    width: calc(100% - 14px);
}

.filter-name {
    font-size: 9px;
    color: #A1A1AA;
}

.filter-chosen {
    font-size: 11px;
    text-align: start;
    text-overflow: ellipsis;
    overflow-x: hidden;
    white-space: nowrap;
    width: 100%;
}

.ads {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    overflow-y: auto;
    height: 100%;
}