.profile {
    display: flex;
    flex-direction: column;

    height: 100%;
    padding-top: 30px;
    overflow-y: auto;
}

.profile-top {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 9px;
}

.profile-top-settings {
    position: absolute;
    right: 10px;
    top: 0px;
}

.profile-image {
    height: 100px;
    width: 100px;
}

.profile-name {
    font-size: 24px;
    font-weight: 400;
}

.profile-body {
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    
    height: 100%;
    padding-top: 19px;
}

.profile-body-vip {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 35px;
    padding: 0px 10px;

    background-color: #2B2B2B;
    border-radius: 10px;
}

.profile-body-vip-text {
    font-size: 16px;
    font-weight: 400;
    color: #A1A1AA;
}

.profile-body-vip-status {
    font-family: "Roboto";
    font-size: 16px;
    color: #2D83EC;
}

.profile-body-money {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4px;
    text-align: center;
}

.profile-body-money-text {
    font-size: 32px;
    font-family: "Roboto";
    
    position: relative;
    grid-column: span 2;

    padding: 13px 0px;

    background-color: #2B2B2B;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.profile-body-money-text::after {
    position: absolute;
    content: "";

    top: 50%;
    right: 29px;
    width: 12px;
    height: 17px;

    transform: translateY(-50%);

    background-image: url("/src/assets/profile_arrows_money.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

.profile-body-money-add {
    font-size: 16px;

    padding: 14px 0px;

    background-color: #2D83EC;
    border-bottom-left-radius: 20px;
}

.profile-body-money-remove {
    font-size: 16px;

    padding: 14px 0px;

    background-color: #2B2B2B;
    border-bottom-right-radius: 20px;
}

.profile-body-money-remove.active {
    background-color: #2D83EC;
}

.profile-body-info {
    display: flex;
    justify-content: space-between;
}

.profile-body-info-elem {
    font-size: 18px;
    color: #A1A1AA;
    font-weight: 400;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 11px;

    height: 100px;
    width: 100px;

    background-color: #2B2B2B;
    border-radius: 20px;
}

.profile-body-gacha {
    position: absolute;

    display: flex;
    flex-direction: column;
    align-items: center;

    bottom: 20px;
    left: 50%;

    transform: translateX(-50%);
}

.profile-body-gacha-image {
    margin-bottom: -64px;
}

.profile-body-gacha-button {
    font-size: 28px;
    font-family: "Roboto";

    padding: 17px 51px;

    background-color: #2D83EC;
    border-radius: 16px;
}

.profile-settings {
    display: flex;
    flex-direction: column;
    row-gap: 26px;
}

.profile-settings-block {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.profile-settings-header {
    font-size: 24px;
}

.profile-settings-group {
    font-size: 14px;
    font-weight: 400;
    
    display: flex;
    flex-direction: column;

    background-color: #2B2B2B;
    border-radius: 14px;
}

.profile-settings-row {
    display: flex;
    justify-content: space-between;

    padding: 10px 15px;
}

.profile-settings-key.non-active {
    color: #8E8E99;
}

.profile-settings-value {
    font-family: "Roboto";
    color: #2D83EC;
}
.profile-settings-value.non-active {
    color: #8E8E99;
    font-weight: 300;
}

.profile-settings-checkbox {
    appearance: none;
    position: relative;
}

.profile-settings-checkbox::before {
    position: absolute;
    content: "";

    width: 30px;
    height: 16px;
    right: 0px;
    top: 50%;

    transform: translateY(-50%);

    background-color: #A1A1AA;
    border-radius: 20px;
}
.profile-settings-checkbox:checked:before {
    background-color: #2D83EC;
}

.profile-settings-checkbox::after {
    position: absolute;
    content: "";

    width: 12px;
    height: 12px;
    top: 50%;
    right: 16px;

    transform: translateY(-50%);

    background-color: #2B2B2B;
    border-radius: 20px;

    transition: right .2s;
}
.profile-settings-checkbox:checked:after {
    right: 2px;
}

.profile-settings-rules {
    font-size: 16px;
    color: #2D83EC;
}