.chat {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.chat-messages {
    display: flex;
    flex-direction: column;
    row-gap: 8px;

    height: 100%;

    overflow-y: auto;
}
.chat-messages > :first-child {
    margin-top: auto !important;
}

.chat-message {
    display: flex;
    flex-direction: column;
    align-items: start;
}
.chat-message.viewer {
    align-items: end;
}
.chat-message.admin {
    align-items: center;

    margin: 10px 0px;
    padding: 5px 10px;
}

.chat-message-text {
    font-size: 14px;
    
    padding: 5px 10px;
    max-width: 75%;

    background-color: #2B2B2B;
    border-radius: 8px;
}
.chat-message-text.viewer {
    background-color: #2D83EC;
}
.chat-message-text.admin {
    width: 100%;
    max-width: 100%;

    background-color: #2B2B2B;
}

.chat-message-time {
    font-size: 11px;
    color: #A1A1AA;
}

.chat-input {
    display: flex;
    align-items: center;
    column-gap: 5px;

    height: 42px;
    margin-top: 10px;
}

.chat-input-text {
    width: 100%;
    height: 100%;
}

.chat-input-button {
    flex-shrink: 0;
    width: 30px;
    height: 30px;
    padding: 0px;
}